body {
    --dark: #073c64;
    --light: #3cc921;
    background-color: var(--dark);
    color: white;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

.app-header {

}

.logged-in-header-menu {

}

.logged-in-header-menu > a {
    padding: 0.3em;
}